<div class="post">
    <div class="header">
        <h1>Post title</h1>
        <button routerLink="/" class="btn btn-link">На главную</button>
    </div>

    <div class="info">
        <strong>Автор</strong>
        <small>12.12.2012</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est explicabo molestiae optio quam voluptatibus? Deserunt fugiat obcaecati odit! Alias esse eveniet ipsa laudantium maxime natus nobis officiis quam. Eaque id iure minima omnis possimus repellendus voluptatem. Doloribus quis recusandae vero?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est explicabo molestiae optio quam voluptatibus? Deserunt fugiat obcaecati odit! Alias esse eveniet ipsa laudantium maxime natus nobis officiis quam. Eaque id iure minima omnis possimus repellendus voluptatem. Doloribus quis recusandae vero?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est explicabo molestiae optio quam voluptatibus? Deserunt fugiat obcaecati odit! Alias esse eveniet ipsa laudantium maxime natus nobis officiis quam. Eaque id iure minima omnis possimus repellendus voluptatem. Doloribus quis recusandae vero?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est explicabo molestiae optio quam voluptatibus? Deserunt fugiat obcaecati odit! Alias esse eveniet ipsa laudantium maxime natus nobis officiis quam. Eaque id iure minima omnis possimus repellendus voluptatem. Doloribus quis recusandae vero?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est explicabo molestiae optio quam voluptatibus? Deserunt fugiat obcaecati odit! Alias esse eveniet ipsa laudantium maxime natus nobis officiis quam. Eaque id iure minima omnis possimus repellendus voluptatem. Doloribus quis recusandae vero?</p>
    </div>
</div>
